body{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: arial;
}
h1{
  display: inline;
  font-size: 15px;
  padding-left: 40px;
}
#header{
  background-color: white;
}
#down{
  background-color: #CCC;
  height: 3100px;
}
#cupula{
  width: 150px;
  height: 150px;
  margin-left: 40px;

}
#img{
  width: 320px;
  height: 400px;
}
#imga{
  border-radius: 70px;
  width: 40px;
  height: 40px;
  display: block;
  margin-left: 16px;
  margin-top: 5px;

}
#divimage{
  width: 320px;
  height: 730px;
  background-color: white;
  float: left;
  margin-left: 250px;
  margin-top: 10px;
}
#p1{
  font-size: 16px;
  margin-left: 19%;
}

#titulo{
  font-size: 18px;
  padding-right: 10px;
}
#p2{
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
  color: #CCC;
}
#p3{
  padding-left: 260px;
  font-size: 15px;
}
#divimage2{
  width: 320px;
  height: 730px;
  background-color: white;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  }
