body{
  background-color: #DDD;
}

form{
  width:400px;
  margin: 0 auto;
}
div{
  background-color: #ACF;
  width:300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
label{
  display: block;
  text-transform: capitalize;
}
input{
  width:80%;
  height: 30px;
  border-radius: 5px;
  display: block;
}
.alinea{
  display: inline-block;
  width: 15%;
  margin: 0;
  padding: 0;
}
#envia{
  background-color: #969;
  box-shadow: 3px 3px 10px #333;
}
