
@font-face {
  font-family: louiseFont;
  src: url("fonts/Louis George Cafe Bold.ttf");
}

@font-face {
  font-family: trashFont;
  src: url("fonts/TrashHand.ttf");
}

@font-face {
  font-family: grace;
  src: url("fonts/CoveredByYourGrace.ttf");
}

body {
  font-size: 28px;
  font-family: louiseFont;
  //font-family: trashFont;
  margin: 0;
}

  .check{
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    width: 30px;
    height: 30px;
    opacity: 0;
  }

  li{
    list-style-type: none;
    float: left;
  }


}

ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  width: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 65px;
  text-decoration: none;
  font-size: 24px;
}

li a:hover {
  color: #FBB786;
}

p{
  margin: 0 0 0 0;
}

button{
  background-color: #FBB786;
  font-size: 24px;
  color: white;
  border-radius: 25px;
  padding: 8px 20px 8px 20px;
  border-color: transparent;
}

.header {
  width: 100%;
  text-align: center;
  margin-top: 16px;
}

#imgLogo {
  width: 180px;
  align: "middle"
}

#navContainer{
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#nav {
  width: white;
  width: 100%;
  background-color: white;
}

#checkboxMenu{
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1;
  width: 0;
  height: 0;
  opacity: 0;
}

#checkboxBurguer{
  height: 0;
}

#menu{
  display: table;
  margin: 0 auto;
  padding-top: 24px;
}

.table {
  display: table;
  margin: 0 auto;
}

#cabecera{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("images/plane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#opacidad{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
}

.grace{
  font-family: grace;
}

.louis{
  font-family: louiseFont;
}

.trash{
  font-family: trashFont;
}

.fontTitle{
  font-size: 2em;
}

.botonviajes{
  //font-size: 18px;
  font-size: 1.3vw;
  margin-top: 30px;
}

#align{
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#cards{
  background-color: #F4F4F4;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.card{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  background-color: #D7EBF4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 28px;
  margin-bottom: 28px;
}

.cardicon{
  height: 44px;
  width: 44px;
  vertical-align: middle;
}

.cardtitle{
  font-size: 50px;
  margin-top: 20px;
}

.bola{
  height: 76px;
  width: 76px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardtext{
  font-size: 24px;
  margin-top: 16px;
}

.titulos{
  text-align: center;
  padding-top: 30px;
  font-size: 3vw;
  padding-bottom: 30px;
}

.titulosqs{
  text-align: center;
  font-size: 3vw;
  padding-bottom: 30px;
}

#quisomtxt{
  font-size: 1.3vw;
}

.subtitulo{
  font-size: 2vw;
}

.textoviajes{
  font-size: 1.5vw;
  line-height: 1.5em;
}

#travels{
  margin-left: 50px;
  margin-right: 50px;
}

#semanasanta{
  padding-top: 100px;
}

#londres{
  text-align: right;
  padding-top: 100px;
}

#japan{
  padding-top: 100px;
}

.line{
  background-color: #FBB786;
  height: 3px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  border-width: 0;
}

.linex{
  background-color: #FBB786;
  height: 3px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  border-width: 0;
}

.linelondon{
  background-color: #FBB786;
  height: 3px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 0;
  border-width: 0;
}

.divtravel{
  width: 50%;
  height: auto;
}

.divtravelLeft{
  float: left;
  clear: both;
}

.divtravelRight{
  float: right;
}

#fotos{
  height: auto;
  width: 100%;
}

#about{
  height: 400px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clear: both;
  background-image: url("images/quisom_fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#fotos{
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#tazas{
  width: 380px;
  height: 310px;
}

#camisetas{
  width: 390px;
  height: 340px;
}

#contact{
  padding-top: 30px;
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;

}

.copyright{
  margin-left: 50px;
}

#cr{
  width: 100%;
  height: 30px;
  background-color: #D7EBF4;
  font-size: 15px;
  padding-top: 15px;
}

.cont{
  font-size: 20px;
  line-height: 1.3em;
}
