
@font-face {
    font-family:"Kachusha Bold";
    src:url("Kachusha-Bold.woff2") format("woff2"),url("Kachusha-Bold.woff") format("woff"),url("Kachusha-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        